@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
	--orange: #ff7800;
	--black: #130f40;
	--light-color: #666;
	--box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
	--border: .2rem solid rgba(0,0,0,.1);
	--outline: .1rem solid rgba(0,0,0,.1);
	--outline-hover: .2rem solid var(--black);
}


* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	transition: all .2s linear;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 7rem;
}

body {
	background: #eee;
}

/*header section*/

.nav-link {
	color: black !important;
}

.navbar-link {
	font-size: 1.7rem;
	margin: 0 1rem;
}

	.navbar-link :hover {
		color: orange !important;
	}

.ico {
	height: 4.5rem;
	width: 4.5rem;
	line-height: 4.5rem;
	border-radius: .5rem;
	background: #eee;
	color: var(--black);
	font-size: 2rem;
	margin-left: .3rem;
	cursor: pointer;
	text-align: center;
}

	.ico :hover {
		height: 4.5rem;
		width: 4.5rem;
		line-height: 4.5rem;
		border-radius: .5rem;
		background: var(--orange);
		color: #fff;
	}

.header .search-form {
	position: absolute;
	top: 110%;
	right: -110%;
	width: 50rem;
	height: 5rem;
	background: #fff;
	border-radius: .5rem;
	overflow: hidden;
	display: flex;
	align-items: center;
	box-shadow: var(--box-shadow);
}

	.header .search-form.active {
		right: 2rem;
		transition: .4s linear;
	}

	.header .search-form input {
		height: 100%;
		width: 100%;
		background: none;
		text-transform: none;
		font-size: 1.6rem;
		color: var(--black);
		padding: 0 1.5rem;
	}

	.header .search-form label {
		font-size: 2.2rem;
		padding-right: 1.5rem;
		color: var(--black);
		cursor: pointer;
	}

		.header .search-form label:hover {
			color: var(--orange);
		}


.header .shopping-cart {
	position: absolute;
	top: 110%;
	right: -110%;
	padding: 1rem;
	border-radius: .5rem;
	box-shadow: var(--box-shadow);
	width: 35rem;
	background: #fff;
}

	.header .shopping-cart.active {
		right: 2rem;
		transition: .4s linear;
	}

	.header .shopping-cart .box .content h3 {
		color: var(--black);
		font-size: 1.7rem;
		padding-bottom: 1rem;
	}

	.header .shopping-cart .box .content span {
		color: var(--light-color);
		font-size: 1.6rem;
	}

	.header .shopping-cart .box .content .quantity {
		padding-left: 1rem;
	}

	.header .shopping-cart .btn {
		display: block;
		width: auto;
		height: 40px;
		background-color: rgb(255, 120, 0);
		text-align: center;
		padding-top: 5px;
		margin: 1rem;
		color: white;
		font-weight: bold;
		font-size: 16px;
	}

.header .login-form {
	top: 110%;
	right: -110%;
	width: 35rem;
	box-shadow: var(--box-shadow);
	padding: 2rem;
	border-radius: .5rem;
	background: #fff;
	text-align: center;
}

	.header .login-form.active {
		right: 2rem;
		transition: .4s linear;
	}

	.header .login-form h3 {
		font-size: 2.5rem;
		text-transform: uppercase;
		color: var(--black);
	}

	.header .login-form .box {
		width: 100%;
		margin: .7rem 0;
		background: #eee;
		border-radius: .5rem;
		padding: 1rem;
		font-size: 1.6rem;
		color: var(--black);
		text-transform: none;
	}

	.header .login-form p {
		font-size: 1.4rem;
		padding: .5rem 0;
		color: var(--light-color);
	}

		.header .login-form p a {
			color: var(--orange);
			text-decoration: underline;
		}

/**/
.home {
	display: flex;
	align-items: center;
	justify-content: center;
	background: url(images/car.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	height: 500px;
	padding-top: 17rem;
	padding-bottom: 10rem;
}

	.home .content {
		text-align: center;
		width: 60rem;
	}

		.home .content h3 {
			color: var(--black);
			font-size: 3rem;
		}

			.home .content h3 span {
				color: var(--orange);
			}

		.home .content p {
			color: var(--light-color);
			font-size: 1.7rem;
			padding: 1rem 0;
			line-height: 1.8;
		}

/*line*/
.line {
	border: 3px solid #ff7800;
	border-radius: 5px;
	border-bottom: 8px solid #ff7800;
	box-shadow: 0 10px 10px 10px #b7b5b3;
}

/*popular section*/

.popular .box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap: 1.5rem;
}

	.popular .box-container .box {
		padding: 3rem 2rem;
		background: #fff;
		outline: var(--outline);
		outline-offset: -1rem;
		text-align: center;
		box-shadow: var(--box-shadow);
	}

		.popular .box-container .box:hover {
			outline: var(--outline-hover);
			outline-offset: 0rem;
		}

		.popular .box-container .box img {
			margin: 1rem 0;
			height: 15rem;
		}

		.popular .box-container .box h3 {
			font-size: 2.5rem;
			line-height: 1.8;
			color: var(--black);
		}

		.popular .box-container .box p {
			font-size: 1.5rem;
			line-height: 1.8;
			color: var(--light-color);
			padding: 1rem 0;
		}

.popular .btn {
	background-color: #ff7800;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.popular .btn {
	background-color: white;
	color: black;
	border: 2px solid #ff7800;
}

	.popular .btn:hover {
		background-color: #c15902;
		color: white;
	}



.heading {
	text-align: center;
	padding: 2rem 0;
	padding-bottom: 3rem;
	font-size: 3.5rem;
	color: var(--black);
}


/*footer*/
.footer {
	background: #fff;
	font-size: 15px;
	position: relative;
	bottom: 0;
	left: 0;
}
/*
	.footer .box-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		gap: 1.5rem;
	}

		.footer .box-container .box h3 {
			font-size: 2.5rem;
			color: var(--black);
			padding: 1rem 0;
		}

			.footer .box-container .box h3 i {
				color: var(--orange);
			}

		.footer .box-container .box .links {
			display: block;
			font-size: 1.5rem;
			color: var(--light-color);
			padding: 1rem 0;
		}

			.footer .box-container .box .links i {
				color: var(--orange);
				padding-right: .5rem;
			}

			.footer .box-container .box .links:hover i {
				padding-right: 2rem;
			}

		.footer .box-container .box .share a {
			height: 4rem;
			width: 4rem;
			border-radius: .5rem;
			font-size: 2rem;
			color: var(--black);
			margin-right: .2rem;
			background: #eee;
			text-align: center;
		}

			.footer .box-container .box .share a:hover {
				background: var(--orange);
				color: #fff;
			}

		.footer .box-container .box .email {
			width: 100%;
			margin: .7rem 0;
			padding: 1rem;
			border-radius: .5rem;
			background: #eee;
			font-size: 1.6rem;
			color: var(--black);
			text-transform: none;
		}

		.footer .box-container .box .payment-img {
			margin-top: 2rem;
			height: 3rem;
			display: block;
		}

	.footer .credit {
		text-align: center;
		margin-top: 2rem;
		padding: 1rem;
		padding-top: 2.5rem;
		font-size: 2rem;
		color: var(--black);
		border-top: var(--border);
	}

		.footer .credit span {
			color: var(--orange);
		}

	.footer .box .btn {
		display: block;
		width: auto;
		height: 50px;
		background-color: rgb(255, 120, 0);
		text-align: center;
		padding-top: 5px;
		margin: 1rem;
		color: white;
		font-weight: bold;
		font-size: 16px;
		padding: 10px;
		padding-bottom: 10px;
		border-style: double;
	}
*/



/*column*/
/*.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.column {
	background-color: rgb(238, 238, 238);
	height: 400px;
}

	.column:nth-child(2) {
		background-color: rgb(238, 238, 238);
	}

	.column h2 {
		text-align: center;
		margin-top: 20px;
		font-family: 'Poppins', sans-serif;
	}

	.column p {
		font-size: 16px;
		text-align: justify;
		margin: 20px;
		font-family: 'Poppins', sans-serif;
	}

	.column img {
		width: 350px;
		height: 350px;
		margin-top: 25px;
		margin-left: 150px;
	}*/


/*form - chas.html*/

#chas-text {
	font-size: 24px;
	margin-top: 50px
}


/*
.container header {
	position: relative;
	font-size: 20px;
	font-weight: 600;
	color: #333;
}

	.container header::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: -2px;
		height: 3px;
		width: 27px;
		border-radius: 8px;
		background-color: #4070f4;
	}

.container form {
	position: relative;
	margin-top: 16px;
	min-height: 490px;
	background-color: #fff;
	overflow: hidden;
}

	.container form .form {
		position: absolute;
		background-color: #fff;
		transition: 0.3s ease;
	}

		.container form .form.second {
			opacity: 0;
			pointer-events: none;
			transform: translateX(100%);
		}

form.secActive .form.second {
	opacity: 1;
	pointer-events: auto;
	transform: translateX(0);
}

form.secActive .form.first {
	opacity: 0;
	pointer-events: none;
	transform: translateX(-100%);
}

.container form .title {
	display: block;
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: 500;
	margin: 6px 0;
	color: #333;
}

.container form .fields {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

form .fields .input-field {
	display: flex;
	width: calc(100% / 3 - 15px);
	flex-direction: column;
	margin: 4px 0;
}

.input-field label {
	font-size: 16px;
	font-weight: 500;
	color: #2e2e2e;
}

.input-field input, select {
	outline: none;
	font-size: 14px;
	font-weight: 400;
	color: #333;
	border-radius: 5px;
	border: 1px solid #aaa;
	padding: 0 15px;
	height: 42px;
	margin: 8px 0;
}

	.input-field input :focus,
	.input-field select:focus {
		box-shadow: 0 3px 6px rgba(0,0,0,0.13);
	}

	.input-field select,
	.input-field input[type="date"] {
		color: #707070;
	}

		.input-field input[type="date"]:valid {
			color: #333;
		}

.container form button, .backBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45px;
	max-width: 200px;
	width: 100%;
	border: none;
	outline: none;
	color: #fff;
	border-radius: 5px;
	margin: 25px 0;
	background-color: #4070f4;
	transition: all 0.3s linear;
	cursor: pointer;
}

.container form .btnText {
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}

form button:hover {
	background-color: #265df2;
}

form button i,
form .backBtn i {
	margin: 0 6px;
}

form .backBtn i {
	transform: rotate(180deg);
}

form .buttons {
	display: flex;
	align-items: center;
}

	form .buttons button, .backBtn {
		margin-right: 14px;
	}

	form .buttons button, .backBtn {
		display: block;
		width: auto;
		height: 50px;
		background-color: rgb(255, 120, 0);
		text-align: center;
		padding-top: 5px;
		margin: 1rem;
		color: white;
		font-weight: bold;
		font-size: 16px;
		padding: 10px;
		padding-bottom: 10px;
		border-style: double;
		margin-left: 20px;
	}
*/

@media (max-width:990px) {
	img#banner {
		margin-top: 100px;
	}

	div.lower {
		margin-top: 100px;
	}
}


@media (max-width:800px) {
	div#bannerCol {
		display: none;
	}

	div.small-dis {
		display: none;
	}

	div.lower {
		margin-top: 50px;
	}
}

.resize {
	font-size: 1vmax;
}

.banner-heading {
	font-family: Bahnschrift;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: #FFAC1C;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(255, 172, 28);
	outline: 0 none;
}

.input:focus {
	border-color: #FFAC1C;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(255, 172, 28);
	outline: 0 none;
}

.form-control:focus {
	border-color: #FFAC1C;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(255, 172, 28);
	outline: 0 none;
}


.ffb {
	font-family: Bahnschrift;
}


.dark-heading {
	color: #FFAC1C;
	background-color: #006A7A;
	font-weight: bold;
}

.normal-heading {
	color: #FFAC1C;
	font-weight: bold;
}

.normal-text {
	color: #FFAC1C;
	font-family: Bahnschrift;
}

#goodPractices {
	margin-top: -5px;
	padding-bottom: 5px;
}

.small-padding {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 3px;
}

.link {
	background: linear-gradient(0deg, #006A7A, #006A7A) no-repeat right bottom / 0 var(--bg-h);
	transition: background-size 350ms;
	--bg-h: 100%;
}

	.link:where(:hover, :focus-visible) {
		background-size: 100% var(--bg-h);
		background-position-x: left;
		color: #FFCC48;
	}

#showMore {
	background: linear-gradient(0deg, #006A7A, #006A7A) no-repeat right / 0 var(--bg-h);
	transition: background-size 250ms;
	--bg-h: 100%;
	color: #006A7A;
	font-family: Bahnschrift;
	font-weight: bold;
}

	#showMore:where(:hover, :focus-visible) {
		background-size: 100% var(--bg-h);
		background-position-x: left;
		color: #FFCC48;
	}

.recent {
	list-style-position: inside;
	padding-left: 5px;
	font-size: 20px;
}

	.recent ::marker {
		color: #006A7A;
	}

li.menu-item:not(:last-child) {
	margin-bottom: 15px;
}

.recent-link {
	color: inherit;
	text-decoration: none;
	padding-bottom: 5px;
}

.recent-link {
	background: linear-gradient( to right, rgba(0, 106, 122, 1), rgba(100, 200, 200, 1) ), linear-gradient( to right, rgba(255, 204, 72, 1), rgba(255, 204, 72, 1), rgba(255, 204, 72, 1) );
	background-size: 100% 3px, 0 3px;
	background-position: 100% 100%, 0 100%;
	background-repeat: no-repeat;
	transition: background-size 400ms;
}

	.recent-link:hover {
		padding-bottom: 5px;
		background-size: 0 3px, 100% 3px;
		text-decoration: none;
		color: inherit;
	}

div.lower {
	margin-top: 100px;
}

.dark-body {
	background-color: #006A7A;
}

div.register-form-bg {
	background-color: white;
	padding: 50px;
}

.dark-button {
	color: #FFCC48;
	background-color: #006A7A;
}

#register {
	background: linear-gradient(0deg, #FFAC1C, #FFAC1C) no-repeat right / 0 var(--bg-h);
	transition: background-size 250ms;
	--bg-h: 100%;
	color: #FFAC1C;
	font-family: Bahnschrift;
	font-weight: bold;
	margin-top: 30px;
}

	#register:where(:hover, :focus-visible) {
		background-size: 100% var(--bg-h);
		background-position-x: left;
		color: white;
	}

.form-check {
	padding-right: 0px;
}

.faded-text {
	color: #707070;
}

	.faded-text :hover {
		color: darkgray;
	}

.faded-link {
	color: #FFAC1C;
	text-decoration: underline;
	font-weight: bold;
}

input::-webkit-file-upload-button {
	background-color: white;
	color: #006A7A;
	border: 2px solid #006A7A;
	border-radius: 4px;
	height: 50px;
	width: 120px;
}

	input::-webkit-file-upload-button:hover {
		background-color: #006A7A;
		color: #FFCC48;
		border: 2px solid #006A7A;
		cursor: pointer;
	}

a.user {
	color: #006A7A;
	text-decoration: none;
}

	a.user:hover {
		text-decoration: underline;
		color: #FFCC48;
	}

.profile-head {
	transform: translateY(5rem)
}

.cover {
	background-image: url(/images/profileBanner.png);
	background-size: cover;
	background-repeat: no-repeat
}

body.custom {
	background: #006A7A;
	min-height: 100vh;
	overflow-x: hidden
}

.custom-text {
	font-family: Bahnschrift;
	color: #006A7A;
}

svg.edit-delete {
	width: 30px;
	height: 30px;
	padding: 5px;
}

	svg.edit-delete :hover {
		fill: #FFCC48;
		cursor: pointer;
	}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button.heart {
	background-color: white;
	border: none;
}

.bi-heart-fill:hover {
	fill: #408780;
}

.terms-secondary-heading {
	margin-bottom: 15px;
	text-indent: 20px;
	font-family: Bahnschrift;
	font-weight: bold;
}

.font-weight-heading {
	font-weight: bold;
}

.terms-normal-text {
	font-family: Bahnschrift;
	font-size: 16px;
	text-indent: 20px;
	line-height: 25px;
}

.terms-column-text {
	font-family: Bahnschrift;
	font-size: 16px;
	line-height: 25px;
}

a.seen-link {
	color: darkgrey;
	text-decoration: none;
	padding-bottom: 5px;
}


li.toside {
	padding-left: 10vmax;
}

.p-footer {
	height: 30px;
	padding: 0;
	margin: 0;
	font-family: Bahnschrift;
}

.higher {
	margin-top: -30px;
	padding-bottom: 20px;
}

footer {
	position: relative;
}